APP_NAME=Next.js Drizzle Template
DATABASE_URL=file:local.db
DATABASE_AUTH_TOKEN=
LOG_LEVEL=info
METRICS_PREFIX=nextjs_drizzle_
OTEL_TRACING_ENABLED=false
OTEL_SERVICE_NAME=nextjs-drizzle
OTEL_SERVICE_VERSION=0.1.0
OTEL_EXPORTER_OTLP_ENDPOINT=http://127.0.0.1:4318
OTEL_TRACE_IGNORE_PATHS=/_next/*,/favicon.ico,/metrics
OTEL_TRACE_SAMPLE_RATIO=1
